body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 0;
}

h2 {
  text-align: center;
  font-weight: 300;
  padding: 0;
}

.info {
    font-family: Georgia, Times, Serif;
    width: 60%;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 100;
}

footer {
  text-align: center;
  padding: 4rem 0;
}

img {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}

.locations {
  text-align: center;
}

li {
  display: inline-block;
  padding: 1em;
  border-left: 1px solid black;
}

li.first {
  border-left: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.fish {
  margin-top: 50px;
}

