body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 0;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-weight: 300;
  padding: 0;
}

.info {
    font-family: Georgia, Times, Serif;
    width: 60%;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 100;
}

footer {
  text-align: center;
  padding: 4rem 0;
}

img {
  width: 480px;
  length: 360px;
  margin: 0 auto;
  display: block;
}

.locations {
  text-align: center;
}

li {
  display: inline-block;
  padding: 1em;
  border-left: 1px solid black;
}

li.first {
  border-left: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: salmon;
}

.fish {
  margin-top: 50px;
  max-width: 50%;
}

.fish2 {
  max-width: 20%;
}

.title {
  text-decoration: none;
}

.title:hover {
  color: salmon;
}

.family {
  max-width: 30%;
}

.shirt {
  height: 150px;
  width: auto;
}

.contact {
  text-align: center;
}

.cutter {
  margin-top: 10px;
  height: 150px;
  width: auto;
}

.fish3 {
  height: 150px;
  width: auto;
}

.cookie {
  height: 150px;
  width: auto;
}
